@model Platibus.Identity.ViewModels.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/LoginView/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginView/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginView/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginView/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginView/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginView/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginView/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginView/css/main.css">
    <!--===============================================================================================-->
    
    
    
    <!--AdminLTE-->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
        
        
    <link rel="stylesheet" href="~/adminlte/components/bootstrap/less/bootstrap.less" asp-append-version="true"></link>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- Pace style -->
    <link rel="stylesheet" href="~/adminlte/plugins/pace/pace.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminlte/dist/css/skins/skin-blue-light.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition lockscreen" style="background-image: url('/adminlte/bg1.jpg') ; background-size: cover; ">
<!-- Automatic element centering -->
<div class="lockscreen-wrapper">

<div class="login-box">
    
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <a href="/"><b>Plati</b>Bus</a>
        </div>
        <p class="login-box-msg">Welcome to the Site's Portal</p>

        <div class="login100-form validate-form">
            <input type="hidden" asp-for="ReturnUrl"/>
            <span class="login100-form-title">
               
            </span>
        
             
                
        <div hidden="@Model.IsSuccessfull" class="alert" style="border-radius: 25px"> <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>  @Model.Error </div>
                        
                
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "validate-form", encType = "multipart/form-data", id = "myform", name = "myform"}))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Html.ViewBag.ReturnUrl" id="ReturnUrl" name="ReturnUrl"/>

                    <input type="hidden" asp-for="ReturnUrl"/>
                    <div class="form-group has-feedback" data-validate="Valid email is required: ex@abc.xyz">
                        <label></label>
                        <input class="form-control" id="email" name="email" type="text" placeholder="Email"/>
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <span class="text-danger"></span>
                    </div>


                    <div class="form-group has-feedback" data-validate="Password is required">
                        <input type="password"  class="form-control" placeholder="Password" id="password" name="password"/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <span class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                }
        </div>
            </div>
        </div>

</div>

<!--===============================================================================================-->
<script src="~/LoginView/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/LoginView/vendor/bootstrap/js/popper.js"></script>
<script src="~/LoginView/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/LoginView/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/LoginView/vendor/tilt/tilt.jquery.min.js"></script>
<script>$('.js-tilt').tilt({
    scale: 1.1
})</script>
<!--https://colorlib.com/wp/template/login-form-v1/===============================================================================================-->
<script src="~/LoginView/js/main.js"></script>
</body>
</html>
